<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="45" id="container">

        <mat-toolbar  id="tool">
            <h3>Login Form</h3>
          </mat-toolbar>
        <form  fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field id="in">
              <mat-label>Usename</mat-label>
              <input matInput placeholder="Username" >
            </mat-form-field>
          
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" >
              </mat-form-field>

              
          </form>      

          <button mat-raised-button id="btn">Login</button>
    </mat-card>
</div>